# Node dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Build outputs
dist/
build/

# dotenv environment files (credentials/API keys!)
.env
backend/.env
frontend/.env

# Mac OS junk files
.DS_Store

# Log files
*.log

# IDE/Editor settings
.vscode/
.idea/
